engine-strict=false
save-exact=false
prefer-offline=true
progress=false
audit=false
fund=false
fetch-retries=3
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=60000
network-concurrency=8
maxsockets=10
loglevel=error
